@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&family=Nunito+Sans:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------ Navbar Section --------------------------------------------------- */

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: auto;
    align-items: center;
    color: rgb(231, 231, 231);
    padding-bottom: 13px;
}

.logo img {
    margin-top: 18px;
    margin-left: 44px;
    width: 100px;
    height: 55px;
}

.menu-tabs {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-right: 50px;
    padding-top: 12.5px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 13px;
    letter-spacing: 3.5px;
    color: white;
}

.tab {
    padding: 16px;
    width: fit-content;
}

.tab:hover {
    cursor: pointer;

}

                /* ----------------------- Hero Section -------------------------- */
.background-col {
    background-color: rgb(246, 246, 246);
}


.hero {
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: appear 1.5s forwards;
}

@keyframes appear {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: white;
}

.iconic-look  {
    position: absolute;
    top: 250px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quentin';
    font-size: 60px;
    white-space: nowrap;
    width: 100%;
    margin: auto;
    animation: slidein 2s forwards;
}

.iconic-text {
    color: #FFCC00;
    text-align: center;
    font-weight: 100;
}

@keyframes slidein {
    0% {
        position: absolute;
        top: 0;
        opacity: 0
    }
    100% {
        position: absolute;
        top: 250px;
        opacity: 1;
    }
}

.style-div {
    position: absolute;
    top: 405px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 25px;
    white-space: nowrap;
    width: 100%;
    margin: auto;
}

.style-text {
    color: white;
    letter-spacing: 50px;
    text-align: center;
    animation: reveal 2s forwards;
    height: 40px;
}

@keyframes reveal {
    0% {
        margin-right: 3000px;
    }
    100% {
        margin-right: 0px;
    }
}

.new-york-since {
    position: absolute;
    bottom: 105px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 12px;
    white-space: nowrap;
    width: 100%;
    margin: auto;
    animation: ny-slidein 2s forwards;
}

.new-york {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 3px;
}

@keyframes ny-slidein {
    0% {
        position: absolute;
        bottom: 0;
        opacity: 0;
    }
    100% {
        position: absolute;
        bottom: 105px;
        opacity: 1;
    }
}

.booking {
    position: absolute;
    top: 585px;
    z-index: 999;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    margin: auto;
    text-align: center;
}

#book-now-img {
    width: 260px;
    height: 190px;
    animation: book-now-appear 1.5s forwards;
    cursor: pointer;
}

@keyframes book-now-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.prices-section { 
    margin-top: 200px;
    padding-left: 125px;
    font-family: 'Montserrat';
}

.prices-container {
    display: grid;
    width: 50%;
    border: .25px rgb(122, 122, 122) solid;
    margin-top: 11px;
}
.price-row {
    border-bottom: .25px rgb(122, 122, 122) solid;
    width: 100%;
    height: 40px;
}

/* ---------------------------------- */

.contact-section {
    display: flex;
    padding-left: 125px;
    margin: 200px auto 0 auto;
    padding-bottom: 200px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

.map {
    width: 350px;
    height: 400px;
}

.contact {
    margin-left: 120px;
}
.hours {
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 25px;
}

.location img {
    width: 20px;
    height: 20px;
}

.location {
    display: flex;
}
.location p {
    padding-left: 20px;
}

.contact-det {
    display: flex;
    margin-top: 20px;
}
.details p {
    padding-left: 20px;
}

.contact-det img {
    width: 20px;
    height: 27.5px;
}

.phone-det {
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.phone-det img {
    width: 17.5px;
    height: 17.5px;
}

/* ------------------------------------------------ Footer ------------------------------------------------------------------- */

footer {
    height: 310px;
    background-color: black;
}
